<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
<h1>welcome to<span class="glyphicon glyphicon-book"></span> Bookers !!</h1>
<p>In <span class="glyphicon glyphicon-book"></span> Bookers,</p>
<p>you can share and exchange your opinions , and emotions<br>about varioius books!</p>

<P> <%= link_to"Log in", new_user_session_path,class: "btn btn-primary btn-lg btn-block"%> </P>
<p> <%= link_to"Sign Up", new_user_registration_path,class: "btn btn-success btn-lg btn-block" %> </p></div>
<div class="col-lg-2"></div>
</div>
</div>
